<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Book Donation</a>
    <form class="d-flex" method="GET" action="/search">
      <input class="form-control me-2" type="search" name="query" placeholder="ค้นหาหนังสือ" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">ค้นหา</button>
    </form>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto ms-3">
        <% if (user) { %>
          <li class="nav-item"><a class="nav-link" href="/my-requests">ติดตามคำขอของฉัน</a></li>
          
          <!-- ปุ่มบริจาคหนังสือที่เปิด modal -->
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#donationModal">บริจาคหนังสือ</a>
          </li>

          <% if (user.role === 'admin') { %>
            <li class="nav-item"><a class="nav-link" href="/admin">เพิ่มหนังสือ</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/requests">จัดการคำขอ</a></li>
          <% } %>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if (user) { %>
          <li class="nav-item"><a class="nav-link" href="/logout">ออกจากระบบ</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/login">เข้าสู่ระบบ</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- ✅ Modal ป็อปอัพแสดงจุดรับบริจาค -->
<div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="donationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donationModalLabel">บริจาคหนังสือ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
      </div>
      <div class="modal-body">
        บริจาคทางไปรษณีย์ โดยจ่าหน้าซอง ตามที่อยู่ดังนี้<br> ชื่อผู้บริจาค…<br> ที่อยู่…<br> กรุณาส่ง มหาวิทยาลัยบูรพา Saen Suk, Chon Buri District, Chon Buri 20131
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>
